/* global-css-start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
color: #42484d !important;
font-family: Roboto, sans-serif !important;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none !important ;
    display: inline-block;
  
}
.bottom_bnr_sticky_nav .sticky_nv_item li a{
    color: #000 !important;
}
p ,ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    display: inline-block;
}

/* button-css-start */
.common_btn_blue{
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    padding: 12px 24px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    border: 1px solid rgb(0, 106, 255) !important;
    text-shadow: none !important;
    background-color: transparent !important;
    color: rgb(0, 106, 255) !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}
.common_btn_blue:hover{
        background-color: rgb(0, 106, 255) !important;
    color: rgb(255, 255, 255) !important;
}
.common_btn_green{
        font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    padding: 12px 24px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    border: 1px solid rgb(33, 166, 55) !important;
    text-shadow: none !important;
    background-color: rgb(33, 166, 55) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    font-family: Roboto, sans-serif;
}
.common_btn_green:hover{
    background-color: #1a8450 !important;
}
.common_btn_blue_bg{
    border-radius: 4px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    height: 56px;
    line-height: 28px;
    line-height: 1.75rem;
    min-width: 150px;
    padding: 12px 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
        background-color: #0061ee !important;
    color: #fff !important;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}
.common_btn_blue_bg:hover{
        background-color: #0046aa !important;
}
.round_btn{
    width: fit-content;
    height: 85px;
    margin: 16px auto;
    padding: 0px 40px;
    border-radius: 800px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    background-color: rgb(5, 85, 200) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round_btn:hover{
    background-color: rgb(0, 54, 108) !important;
    border-color: rgb(0, 54, 108) !important;
}
/* button-css-end */

/* text-css-start */
.bnr_heading{
    word-wrap: break-word;
    color: #fff;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -1.05px;
    letter-spacing: -.06563rem;
    line-height: 56px;
    line-height: 3.5rem;
    margin: 0;
}
.bnr_heading_40{
    color: #fff;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.88px;
    letter-spacing: -.055rem;
    line-height: 48px;
    margin: 0;
}
.bnr_paragraph{
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    line-height: 1.75rem;
    margin: 0;
}
.section_heading_40{
    display: block;
    margin: 48px 0px 32px;
    padding: 0px;
    font-size: 32px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 36px;
    color: rgb(0, 0, 0);
    text-align: center;
}
@media (min-width: 576px) {
    .section_heading_40 {
        font-size: 40px;
        line-height: 48px;
    }
}
.section_heading_32{
    font-size: 32px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    line-height: 2.25rem;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
.section_heading_30{
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 42.848px;
    line-height: 2.678rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
.section_heading_blue_32{
    display: block;
    margin: 0px 0px 32px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 28px;
    color: #0050d5;
    text-align: center;
}
@media (min-width: 576px) {
    .section_heading_blue_32 {
        font-size: 32px;
        line-height: 36px;
    }
}
.section_heading_24{
    display: block;
    margin: 0px 0px 32px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.commn_para_18{
    color: #000;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    line-height: 1.75rem;
    font-family: Roboto, sans-serif;
}
.commn_para_16{
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: rgb(0, 0, 0);
}
.commn_para_14 {
    font-size: 14px;
    font-size: .875rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0px;
}
.commn_para_14 b {
    font-weight: 700;
}
/* text-css-end */

/* section-css-start */
.commn_bnr{
    background: linear-gradient(128.6deg, #0146aa, #0162ed);
    padding: 30px 0;
}
.commn-bg-blue{
    background: #e5f6ff;
    padding: 32px 0;
}
.commn-bg-dark-blue{
    background-color: #a3ddff;
    padding: 32px 0;
}

.commn-bg-grey{
    background-color: rgb(248, 248, 248);
    padding: 32px 0;
}
.commn-bg-dark-grey{
    background-color: rgb(230 230 230);
    padding: 32px 0;
}
.commn-prple-bg{
    background: #5e47b9;
    padding: 32px 0;
}
.commn-bg-light{
    background-color: #f8f9fa;
    padding: 32px 0;
}
/* section-css-end */

/* card-css-start */
.card_title_24{
    font-size: 24px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    line-height: 1.75rem;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
.card_title_22{
    font-size: 24px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    line-height: 1.75rem;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
@media (min-width: 768px) {
   .card_title_22 {
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
}

.card_desc_18{
    color: #000;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    line-height: 1.75rem;
    font-family: Roboto, sans-serif;
}
.card_title_20 , .card_title_20_black{
    display: block;
    margin: 0px 0px 32px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    color: rgb(66, 72, 77);
    text-align: center;
}
.card_title_20_black{
    color: #000;
}
@media (min-width: 576px) {
    .card_title_20, .card_title_20_black{
        font-size: 20px;
        line-height: 32px;
    }
}
.card_desc_16 ,.card_desc_16_300{
    margin: 0px 0px 16px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgb(66, 72, 77);
}
.card_desc_16_300{
    font-weight: 300;
}
/* card-css-end */

/* tag-css-start */
.tag_blue{
        font-family: Roboto;
    font-size: 16px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    line-height: 1.75rem;
    padding: 5px 10px;
    color: #0555c8;
    background: #e5f6ff;
    border-radius: 4px;
    max-width: fit-content;
}
.tag_pink{
    font-family: Roboto;
    font-size: 16px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    line-height: 1.75rem;
    padding: 5px 10px;
    color: #c31b62;
    background: #ffebf7;
    border-radius: 4px;
    max-width: fit-content;
}
/* tag-css-end */

@media screen and (min-width:1200px) {
    .container.custom_container{
        max-width: 1140px;
    }
}
/* global-css-end */