/* bnr_start */
.personal_ln_bnr .bnr_text_wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}
.personal_ln_bnr .hero_row_wrapper{
    padding: 20px 0;
}
@media (max-width: 767px){
    .personal_ln_bnr .bnr_img_wrapper{
        margin-bottom: 20px;
    }
}
.personal_ln_bnr .bnr_inner_wrapper{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
}
@media (min-width: 768px) {
    .personal_ln_bnr .bnr_inner_wrapper {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 18px;
    }
}
.personal_ln_bnr .bnr_inner_wrapper .common_btn_green{
    font-weight: 500;
}
.personal_ln_bnr .bnr_inner_wrapper .bnr_stop_watch{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    gap: 10px;
    min-height: 55px;
    min-width: 250px;
}
.personal_ln_bnr .bnr_inner_wrapper .bnr_stop_watch svg{
    color: #fff;
    height: auto;
    min-width: 35px;
    width: 35px;
}
.personal_ln_bnr .bnr_inner_wrapper .bnr_stop_watch svg g{
    fill: #fff;
}
.personal_ln_bnr .bnr_inner_wrapper .bnr_stop_watch p {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    line-height: 1.25rem;
}
.personal_ln_bnr .bnr_disclaimer{
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    font-size: .875rem;
    line-height: 24px;
    line-height: 1.5rem;
}
.personal_ln_bnr .bnr_disclaimer a{
    color: #fff !important;
    text-decoration: underline;
}
/* bnr_end */

/* bottom_bnr_sticky_nav_start */
.bottom_bnr_sticky_nav{
        background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
    overflow: hidden;
    width: 100%;
    position: sticky;
    height: 56px;
    top: 0px;
}
.bottom_bnr_sticky_nav .sticky_nv_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom_bnr_sticky_nav .sticky_nv_item{
    display: flex;
    align-items: center;
    scrollbar-width: none;
    overflow-x: auto;
}
.bottom_bnr_sticky_nav .sticky_nv_item li{
        line-height: 1.625rem;
    margin-right: 2rem;
}
.bottom_bnr_sticky_nav .sticky_nv_item li a{
        border-bottom: none;
    color: #000;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 300;
    height: 100%;
    line-height: 28px;
    line-height: 1.75rem;
    padding: 1em 0;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    color: inherit !important;
    text-shadow: none !important;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA{
   display: flex;
   align-items: center;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap{
    display: flex;
    align-items: center;
    flex: 1 0 auto;
   padding: 0 16px;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap svg{
        fill: #000;
    height: 40px;
    width: 40px;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap span{
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .common_btn_green{
    height: auto;
}
/* bottom_bnr_sticky_nav_end */

/* personal_ln_chooseSec_start */
.chooseSec .section_heading_32{
    margin-bottom: 32px;
    color: #000;
}
.chooseSec .chooseSecBox_wrapper{
    display: flex;
}
.chooseSec .chooseSecBox_wrapper .chooseSecBox{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    flex: 0 0 auto;
    padding: 0 16px;
}
.chooseSec .chooseSecBox_wrapper .chooseSecBox .chooseSecBox_icon {
    padding: 0px;
    width: 120px !important;
    height: 120px !important;
    margin: 0 auto 16px;
}
.chooseSec .chooseSecBox_wrapper .chooseSecBox .chooseSecBox_icon svg{
    border-radius: 50%;
    background-color: white;
    padding: 0px 23px;
}

.chooseSec .chooseSecBox_wrapper .chooseSecBox .chooseSecBox_content .card_title_20_black{
 margin-bottom: 16px;
}
.chooseSec .chooseSecBox_wrapper .chooseSecBox .chooseSecBox_content .chooseSecBox_list_wrapper ul{
    list-style-type: disc !important;
    padding: 16px 0 16px 40px;
}
.chooseSecBox_list_wrapper ul li{
  display: block;
  list-style:disc !important;
  font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: rgb(66, 72, 77);
}
/* personal_ln_chooseSec_end */

/* monthSec_start */
.monthSec{
    padding: 32px 0;
    background: #fff;
}
.monthSec .section_heading_32{
    margin-bottom: 32px;
    color: #000;
}
.monthSec .monthBox_wrapper{
    display: flex;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.monthSec .monthBox_wrapper .monthBox{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px;
  border-radius: 12px;
  background: #e6e6e6;
  max-width: 255px;
  width: 100%;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .monthSec .monthBox_wrapper .monthBox{
    max-width: 100%;
    width: 47%;
  }  
}
@media screen and (max-width: 767px) {
.monthSec .monthBox_wrapper .monthBox{
    max-width: 100%;
    width: 100%;
  }  
}
.monthSec .monthBox_wrapper .monthBox .card_desc_18{
   color: #4d4d4d !important;
}
.monthSec .monthBox_btm_div{
    margin-top: 32px;
    display: flex;
    gap: 45px;
}
@media screen and (max-width: 767px) {
.monthSec .monthBox_btm_div{
   flex-direction: column;
   gap: 32px;
  }  
}
.monthSec .monthBox_btm_div .monthBox_btm_text p{
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    font-size: .875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    line-height: 1.5rem;
}
/* monthSec_start */

/* compareSec_start */
.compareSec{
    background: #fff;
    padding: 30px 0;
}
.compareSec .section_heading_32{
    color: #000;
    margin-bottom: 32px;
}
.compare_table_wrapper table{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-collapse: collapse;
}
.compare_table_wrapper table tr td{
        padding: 5px 5px 5px 0px;
    vertical-align: top;
    width: 50%;
    color: #42484d;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
        line-height: 26px;
}
.compare_table_wrapper table tr td .compare_table_title{
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgb(0, 0, 0);
}
.compare_table_wrapper table tr td .tag_pink{
    padding: 5px 7px;
    margin-top: 5px;
}
.inter_price{
        color: rgb(5, 85, 200);
    white-space: nowrap;
    font-weight: 600;
    font-size: 38px;
    font-family: Montserrat;
    display: inline-block;
    line-height: 1.625rem;
}
.inter_special_char{
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.inter_special_char div{
        color: rgb(5, 85, 200);
    white-space: nowrap;
    display: inline-block;
}
.inter_1st_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding: 10px 10px 0px;
}
.inter_1st_col{
        color: rgb(5, 85, 200);
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex: 4 4 0px;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.iter_two_wrap{
        flex: 2 2 0px;
    text-align: center;
    color: #42484d;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
}
.inter_2nd_col{
    color: rgb(5, 85, 200);
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex: 4 4 0px;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.inter_hr{
    border: 1px solid rgb(204, 204, 204);
    margin: 8px 0;
    opacity: 1;
}
.inter_special_char2{
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.inter_special_char2 div{
    color: rgb(0, 106, 255);
    white-space: nowrap;
    display: inline-block;
}
.inter_price2{
    color: rgb(0, 106, 255);
    white-space: nowrap;
    font-weight: 600;
    font-size: 38px;
    font-family: Montserrat;
    display: inline-block;
    line-height: 1.625rem;
}
.compare_list{
    margin: 0px 0px 0px 24px;
    padding: 0px;
    list-style-position: outside;
}
.compare_list li{
    position: relative;
    margin: 0px;
    list-style: none;
    font-weight: 300;
}
.compare_list li::before {
    font-size: 36px;
    position: absolute;
    top: 0px;
    left: -24px;
    content: "•";
    color: rgb(99, 184, 255);
}
.rate_para{
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: rgb(66, 72, 77);
}
.rate_para strong{
    font-weight: 700;
}
.compare_accordion .accordion-item{
    border-radius: 0px;
    font-family: Roboto, sans-serif;
    color: #42484d;
    margin-bottom: 4px;
}
.compare_accordion .accordion-item:first-of-type>.accordion-header .accordion-button {
   border-radius: 0px;
}
.compare_accordion .accordion-item .accordion-header .accordion-button {
   background-color: rgb(242, 242, 242) !important;
   font-weight: bold;
   justify-content: space-between;
}
.compare_accordion .accordion-item .accordion-header .accordion-button.collapsed svg{
    display: inline-flex;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.3;
        width: 14px;
    height: 8px;
    transition: transform 0.15s ease-out;
   transform: rotate(180deg);
    
}
.compare_accordion .accordion-item .accordion-header .accordion-button svg{
        display: inline-flex;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.3;
        width: 14px;
    height: 8px;
    transition: transform 0.15s ease-out;
    transform: rotate(0deg);
}
.compare_accordion .accordion-item .accordion-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    background: #e6e6e6;
}
.compare_accordion .accordion-item .accordion-body p{
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: rgb(66, 72, 77);
}
.compare_accordion .accordion-item .accordion-body p strong{
    font-weight: 700;
    display: block;
}
.compare_accordion .accordion-item .accordion-button::after{
    display: none;
}
.compare_accordion .accordion-item .accordion-body ul{
        font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: rgb(66, 72, 77);
    margin: 16px 0;
    padding-left: 40px;
}
.compare_accordion .accordion-item .accordion-body ul li{
    position: relative;
    display: block;
}
.compare_accordion .accordion-item .accordion-body ul li::before{
    content: '';
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    background: rgb(66, 72, 77);
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
/* compareSec_end */

/* fundSec_start */
.fundSec{
    padding-bottom: 42px;
    padding-top: 32px;;
}
.fundSec .section_heading_32{
    color: #000;
}
.fundSec .fundSec_row_wrap{
  max-width: 790px;
  margin: 0 auto;
  align-items: center;
 display: flex;
 gap: 30px;
}

.fundSec .fundSec_row_wrap .fundSec_col_left{
width: 46%;
  flex: 0 0 auto;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper{
 max-width: 405px;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 16px;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper .fundSec_btn_wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper .fundSec_btn2 a{
    align-items: center;
    border: none;
    color: #0061ee;
    gap: 8px;
    justify-items: center;
    padding: 12px 0 12px 8px;
    text-decoration: underline;
        font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    height: 56px;
    line-height: 28px;
    line-height: 1.75rem;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper .fundSec_btn2 a:hover{
    border: none !important;
    color: #0046aa;
    text-shadow: none;
}
@media screen and (max-width: 991px) {
   .fundSec .fundSec_row_wrap .fundSec_text_wrapper {
    max-width: 305px;
}
}
@media screen and (max-width: 767px) {
    .fundSec .fundSec_row_wrap{
        flex-direction: column;
    }
    .fundSec .fundSec_row_wrap .fundSec_col_left{
        width: 100%;
    }
      .fundSec .fundSec_row_wrap .fundSec_text_wrapper {
    max-width: 100%;
}
}
@media screen and (max-width: 575px) {
    .fundSec .fundSec_row_wrap{
        gap: 0px;
    }
}
/* fundSec_end */

/* applySec_start */
.applySec .section_heading_32{
  color: #000;
  letter-spacing: -.04375rem;
  margin-bottom: 32px;
}
.applyBox_wrapper{
    display: flex;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.applyBox{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    padding: 32px 32px;
    background: #fff;
    border-radius: 12px;
    min-width: 255px;
    width: 22.8%;
    flex: 0 0 auto;
}
@media (max-width:991px) {
 .applyBox{
    width: 47%;
 }   
}
@media (max-width:767px) {
 .applyBox{
    width: 100%;
 }   
}
.applyBox_icon svg{
    fill: none !important;
    stroke: none !important;
    height: 80px !important;
    margin: 0 !important;
    width: 80px !important;
}
.applyBox .card_title_20_black{
    margin-bottom: 0px;
    text-align: left;
}
.applyBox .card_desc_18{
        color: #4d4d4d !important;
}
.applyLink{
    margin-top: 32px;
}
.applyLink a{
    text-decoration: underline;
    color: rgb(3 95 231);
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: 0.15s ease-in-out;
    font-family: Roboto, sans-serif;
}
/* applySec_end */

/* helpSec_start */
.helpSec {
    overflow-x: hidden;
}
.helpSec .section_heading_32{
    color: #000;
    margin-bottom: 32px;
}

.helpBox{
    width: 255px;
    background: #fff;
    border-radius: 12px;
    margin-right: 30px;
}
.helpBox .helpBox_img_wrapper img{
    border-radius: 12px 12px 0 0;
}
.helpBox .helpBox_content{
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.helpBox .helpBox_content .card_title_20_black{
    text-align: left;
    margin-bottom: 0px;
    line-height: 1.5rem;
}
.helpBox .helpBox_content .card_desc_16_300{
    color: #4d4d4d;
    text-align: left;
    min-height: 96px;
}


#helpSlick .slick-dots li button:before{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #005fee !important;
    color: transparent;
}
#helpSlick .slick-dots li.slick-active button:before{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #005fee !important;
    border: 1px solid #005fee !important;
    color: transparent;
}
/* helpSec_end */

/* readySec_start */
.readySec .ready_sec_btn .common_btn_green{
    font-weight: 500;
    width: fit-content;
}
@media screen and (max-width: 575px) {
    .fundSec.readySec .fundSec_row_wrap{
        gap: 30px;
    }
}
/* readySec_end */

/* whySec_start */
.whySec{
    padding-bottom: 42px;
}
.fundSec.whySec .section_heading_32{
 color: #fff;
}
.fundSec.whySec .commn_para_18{
    color: #fff;
}
@media screen and (max-width: 575px) {
    .fundSec.whySec .fundSec_row_wrap{
        gap: 30px;
    }
}
/* whySec_start */

/* calculatorSec_start */
.calculatorSec .section_heading_32{
  color: #000;
  margin-bottom: 32px;
}
.calculatorBox_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.calculatorBox{
 padding: 16px 32px;
    text-shadow: none !important;
    background-color: #fff;
    display: flex;
    flex: 0 1 100%;
    max-width: 100%;
    border-radius: 16px;
}
@media (min-width: 768px) {
    .calculatorBox {
        flex: 0 1 calc(50% - 30px);
    }
}
@media (min-width: 992px) {
    .calculatorBox {
        flex: 0 1 calc(33.3333% - 30px);
    }
}
@media (min-width: 1200px) {
    .calculatorBox {
        flex: 1 1 calc(33.3333% - 30px);
    }
}


.calculatorBox .calculatorBox_contant{
    border-radius: 16px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.calculatorBox .calculatorBox_contant svg.calculatorBox_icon{
        flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    width: 40px;
}
.calculatorBox .calculatorBox_contant .calculatorBox_text{
       display: block;
    margin: 0px 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 22px;
    color: rgb(66, 72, 77);
    text-align: left;
    max-width: 182px;
    width: 100%;
    flex-grow: 1;
}
.calculatorBox .calculatorBox_contant svg.calculatorBox_arrow{
    width: 32px;
}
/* calculatorSec_end */

/* recommendedSec_start */
.recommendedSec{
    padding: 32px 0;
}
.recommendedSec .section_heading_32{
    color: #000;
    margin-bottom: 32px;
}
.recommendedBox_wrapper{
    display: flex;
    gap: 30px;
    align-items: stretch;
}
.recommendedBox{
    border-radius: 12px;
    background: #e6e6e6;
    overflow: hidden;
    max-width: 350px;
    width: 100%;
}
.recommendedBox_content_wrap{
    padding: 32px 32px;
}
.recommendedBox_content_wrap .card_title_24{
    letter-spacing: -.0325rem;
    color: #000;
}
/* recommendedSec_end */

/* frequentlySec_start */
.frequentlySec{
    padding: 48px 0;
}
.frequentlySec .section_heading_32{
  color: #000;
}
@media (min-width: 992px) {
    .frequentlySec .section_heading_32 {
        font-size: 32px;
        line-height: 1.11;
        text-align: center;
        padding-left: 0px;
        margin: 0px;
    }
}
.faq_heading{
    display: block;
    margin: 0px 0px 32px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.faq_heading {
    height: auto;
    padding-left: 16px;
    margin-top: 16px;
}
@media (min-width: 576px) {
    .faq_heading {
        font-size: 20px;
        line-height: 32px;
    }
}
@media (min-width: 992px) {
    .faq_heading {
        margin-top: 48px;
    }
}
.faq_item{
    height: 72px;
    padding: 16px 16px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #414141;
    display: block;
    line-height: 1.2;
    outline: none;
    text-align: left;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}
.faq_item a{
    color: #414141;
}
@media (min-width: 768px) {
    .faq_item:first-child {
        border-top: 1px solid #dae3e7;
    }
}
@media (min-width: 768px) {
    .faq_item {
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #dae3e7;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        height: 4rem;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
}
/* frequentlySec_end */

/* infoSec_start */
.infoSec{
    padding: 24px 0;
}
.infoDiv_wrapper{
    background: #fff;
    padding-bottom: 32px;
}
@media (min-width: 992px) {
    .infoDiv_wrapper {
        padding-bottom: 48px;
    }
}
.infoDiv_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
}
@media (min-width: 992px) {
    .infoDiv_header {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
.infoDiv_header svg{
    height: 34px;
    width: 34px;
    stroke: rgb(0, 0, 0);
    flex-shrink: 1;
    fill: transparent;
}
@media (min-width: 992px) {
    .infoDiv_header svg {
        height: 40px;
        width: 40px;
    }
}
.infoDiv_header p{
        font-size: 20px;
    line-height: 32px;
    margin: 0px 0px 0px 12px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
@media (min-width: 992px) {
    .infoDiv_header p {
        font-size: 24px;
        margin: 0px 0px 0px 6px;
    }
}
.info_row_wrapper{
    max-width: 890px;
    margin: 0 auto;
}
@media (max-width:1199px) {
    .info_row_wrapper{
    max-width: 800px;
    margin: 0 auto;
}
}
@media (max-width:991px) {
    .info_row_wrapper{
    max-width: 576px;
    margin: 0 auto;
}
}
@media (max-width:767px) {
    .info_row_wrapper{
    max-width: 420px;
    margin: 0 auto;
}
}
@media (max-width:575px) {
    .info_row_wrapper{
    padding: 0 25px;
}
}
.info_row_wrapper p{
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgb(66, 72, 77);
    margin: 14px 0;
}
.info_row_wrapper p a{
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    border-bottom: 1px solid rgba(0, 106, 255, 0.5);
    color: rgb(0, 106, 255);
}
.info_row_wrapper p a:hover{
    border-bottom: 1px solid rgb(0, 106, 255);
    text-shadow: rgb(0, 106, 255) 0px 0px 1px;
}
/* infoSec_end */