/* banr_start */
.gom_bnr {
    padding: 35px 0 10px;
}

.bnrslider_contant_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    max-width: 1110px;
    padding: 0 10px;
}

@media (min-width: 768px) {
    .bnrslider_contant_wrapper {

        padding: 20px 10px;
    }

}

.bnrslider_text_contant {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .bnrslider_text_contant {
        gap: 15px;
    }
}

.bnr_slider_head {
    color: #fff;
    font-family: Montserrat;
    font-size: 46px;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.88px;
    letter-spacing: -.055rem;
    line-height: 56px;
    line-height: 3.5rem;
    margin: 0;
}
.bnr_slider_head > *{
    color: #fff;
}

.bnr_slider_subhead {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.52px;
    color: #fff !important;
}
.bnr_slider_subhead > *{
    color: #fff;
}
.bnr_slider_subhead_600{
    font-weight: 600;
}
.bnrslider_botm_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .bnrslider_botm_wrapper {
        flex-direction: row !important;
        align-items: center;
    }
}

.bnrslider_botm_wrapper .commn_para_14 {
    color: #fff;
    padding-left: 15px;
}

.bnr_slider_carousel .owl-dots {
    text-align: center;
}

.bnr_slider_carousel .owl-dot {
    background-color: transparent !important;
    border: 1px solid #fff !important;
    border-radius: 50%;
    color: transparent;
    height: 8px;
    opacity: 1;
    width: 8px;
    margin: 0 3px;
}

.bnr_slider_carousel .owl-dot.active {
    background: #fff !important;
}
.gom_bnr .common_btn_green{
    min-width: 150px;
    font-weight: 500;
}
/* banr_end */

/* bottom_bnr_sticky_nav_start */
.bottom_bnr_sticky_nav{
        background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
    overflow: hidden;
    width: 100%;
    position: sticky;
    height: 56px;
    top: 0px;
}
.bottom_bnr_sticky_nav .sticky_nv_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom_bnr_sticky_nav .sticky_nv_item{
    display: flex;
    align-items: center;
    scrollbar-width: none;
    overflow-x: auto;
}
.bottom_bnr_sticky_nav .sticky_nv_item li{
        line-height: 1.625rem;
    margin-right: 2rem;
}
.bottom_bnr_sticky_nav .sticky_nv_item li a{
        border-bottom: none;
    color: #000;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 300;
    height: 100%;
    line-height: 28px;
    line-height: 1.75rem;
    padding: 1em 0;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    text-shadow: none !important;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA{
   display: flex;
   align-items: center;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap{
    display: flex;
    align-items: center;
    flex: 1 0 auto;
   padding: 0 16px;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap svg{
        fill: #000;
    height: 40px;
    width: 40px;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap span{
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .common_btn_green{
    height: auto;
}
/* bottom_bnr_sticky_nav_end */



.gem_heading {
    display: block;
    margin: 0px 0px 16px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 28px;
    color: rgb(0, 0, 0);
    text-align: left;
}

@media (min-width: 576px) {
    .gem_heading {
        font-size: 32px;
        line-height: 36px;
    }
}

/* mastercardSec_start */
.mastercardSec{
    padding: 48px 0px 0;
}
@media (min-width: 992px) {
    .mastercardSec {
        padding: 72px 0px 0px;
    }
}
.mastercardSec .gem_heading{
    text-align: center;
    margin-bottom: 56px;
}
.feature_container{
    max-width: 100%;
    margin: 0 auto;
}
.feature_wrapper{
background: #f2f2f2;
}
.featureBox_row{
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}
.featureBox{
    background: #c7ecff;
    display: flex;
    flex-direction: column;
    gap: 15px;
        width: 100%;
        padding: 20px 15px;
}
.featureBox_img img {
    aspect-ratio: 486 / 290;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
@media (min-width: 768px) {
    .feature_container {
        max-width: 1100px;
        padding-bottom: 40px;
        padding-top: 40px;
                padding-left: 30px;
        padding-right: 30px;
    }
    .featureBox{
        max-width: 350px;
        min-width: 200px;
                padding: 30px;
    }
    .featureBox_row{
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        margin-left: -15px;
    margin-right: -15px;
    }
}
.featureBox_contant{
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.featureBox_contant p{
    margin-bottom: 0px;
}
.featureBox_title{
    font-size: 32px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    line-height: 2.25rem;
    margin: 0;
        color: #000;
        font-family: Montserrat, sans-serif;
}
.featureBox_contant .common_btn_blue_bg{
    min-width: 100%;
}
.featureBox_desc{
    color: #333;
    flex: 1 1;
}
@media (min-width: 768px) {
    .featureBox_title {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .featureBox_contant {
        font-size: .9rem;
        gap: 15px;
    }
}

/* mastercardSec_end */

/* boxSec_start */
.boxSec{
    padding: 40px 0px;
}
@media (min-width: 576px) {
    .boxSec {
        padding: 40px 15px 30px;
    }
}
@media (min-width: 992px) {
    .boxSec {
        padding: 72px 15px 62px;
    }
}
.partner2_card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}
.partner2_card .partner2_card_img {
    margin-bottom: 16px;
    width: 84px !important;
    height: 84px !important;
}
.partner2_card .partner2_card_content .card_title_20_black {
    margin-bottom: 16px;
    text-align: center;
}
.partner2_card .partner2_card_content .card_desc_16_300{
        margin: 16px 0;
    text-align: center;
    padding-top: 16px;
}
.partner2_card .partner2_card_content .card_desc_16_300 a{
        color: rgb(0, 106, 255);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 106, 198, 0.5);
}
.partner2_card .partner2_card_content .card_desc_16_300 a:hover{
    text-shadow: rgb(0, 106, 255) 0px 0px 1px;
    border-bottom: 1px solid rgb(0, 106, 198);
}
@media (min-width: 992px) {
.partner2_card .partner2_card_img {
        padding: 10px;
        width: 120px !important;
        height: 120px !important;
    }
}
.boxSec_carousel .owl-dots {
    text-align: center;
    padding-top: 24px;
}
.boxSec_carousel .owl-dot.active {
    background-color: rgb(0, 106, 255) !important;
}
.boxSec_carousel .owl-dot {
    background-color: rgb(214, 214, 214) !important;
    border: 1px solid #fff !important;
    border-radius: 50%;
    color: transparent;
    height: 12px;
    opacity: 1;
    width: 12px;
    margin: 0 3px;
}
.boxSec_carousel{
    display: block;
}
.boxSec_wrapper{
    display: none;
}

@media screen and (max-width:575px) {
    .boxSec_carousel{
    display: none !important;
}
.boxSec_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.partner2_card{
    gap: 19px;
}
}
/* boxSec_end */



/* paySec_start */
.paySec {
    padding: 32px 0px;
    background-color: rgb(242, 242, 242);
}

.paySec .commn_para_18 {
    color: #333 !important;
    margin: 18px 0;
}

.payBox_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    align-items: stretch;
}

.payBox {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    width: 350px;
}

.payTag {
    display: flex;
    align-items: center;
    border-radius: 42.5px;
    gap: 8px;
    height: 44.5px;
    justify-content: left;
    min-width: 198px;
    padding: 4.25px 14px 4.25px 8.5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.payTag.purple {
    background-color: rgb(180, 164, 245);
}

.payTag.blue {
    background-color: rgb(99, 184, 255);
}

.payTag.pink {
    background-color: rgb(255, 148, 202);
}

.payTag svg {
    width: 36px;
    height: 36px;
}

.payTag p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: #fff;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.payContent ul {
    list-style: none;
    margin: 16px 0;
    padding: 0;
}
.payContent .card_title_24{
    color: #000;
    font-size: 23px;
}
.payContent ul li {
    margin-bottom: 16px;
    padding-left: 15px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: #000;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    position: relative;
}
.payContent ul li:last-child{
    margin-bottom: 0px;
}
.payContent ul li p{
    margin-bottom: 0px;
}

.payContent ul li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #63b8ff;
    position: absolute;
    left: 0;
    top: 12px;
}

/* paySec_end */

/* addSec_start */
/* fundSec_start */
.fundSec{
    padding-bottom: 42px;
    padding-top: 32px;;
}
.fundSec .section_heading_32{
    color: #000;
}
.fundSec .fundSec_row_wrap{
  max-width: 790px;
  margin: 0 auto;
  align-items: center;
 display: flex;
 justify-content: center;
 gap: 30px;
}

.fundSec .fundSec_row_wrap .fundSec_col_left{
width: 41%;
  flex: 0 0 auto;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper{
 max-width: 405px;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 16px;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper .fundSec_btn_wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper .fundSec_btn2 a{
    align-items: center;
    border: none;
    color: #0061ee;
    gap: 8px;
    justify-items: center;
    padding: 12px 0 12px 8px;
    text-decoration: underline;
        font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    height: 56px;
    line-height: 28px;
    line-height: 1.75rem;
}
.fundSec .fundSec_row_wrap .fundSec_text_wrapper .fundSec_btn2 a:hover{
    border: none !important;
    color: #0046aa;
    text-shadow: none;
}
.fundSec_text_wrapper .commn_para_18{
    margin-bottom: 0px;
}
.fundSec_main_img_wrap img{
    padding: 0 1px;
}
@media screen and (max-width: 991px) {
   .fundSec .fundSec_row_wrap .fundSec_text_wrapper {
    max-width: 305px;
}
}
@media screen and (max-width: 767px) {
    .fundSec .fundSec_row_wrap{
        flex-direction: column;
    }
    .fundSec .fundSec_row_wrap .fundSec_col_left{
        width: 100%;
    }
      .fundSec .fundSec_row_wrap .fundSec_text_wrapper {
    max-width: 100%;
}
}
@media screen and (max-width: 575px) {
    .fundSec .fundSec_row_wrap{
        gap: 0px;
    }
}
/* fundSec_end */
/* addSec_end */

/* rateSec_start */
.rateSec {
    padding: 30px 0;
}
.rate_total_wrapper{
        display: flex;
    flex-direction: column;
    gap: 16px;
}
.rateSec_heading {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 42.848px;
    line-height: 2.678rem;
    font-family: Montserrat;
    color: #42484d;
    font-weight: 600;
    margin-bottom: 0px;
}
.rateList{
        padding: 32px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
            gap: 24px;
        justify-content: space-evenly;
}
.rateList.blue{
    background-color: #e5f6ff;
}
.rateList .rateItem{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    padding: 0 16px 24px;
}
@media (min-width: 1400px) {
  .rateList .rateItem {
        border: none !important;
        max-width: 190px;
        padding: 0;
    }
}
@media (min-width: 768px) and (max-width: 1366px) {
      .rateList .rateItem{
flex: 0 0 auto;
        max-width: unset !important;
        width: calc(50% - 12px) !important;
      }
            
}
@media screen and (max-width: 600px){
  .rateList .rateItem{
    width: 100%;
  }  
  .rateList{
    gap: 0;
  }
}
 .rateList .rateItem h3{
            font-size: 1.75rem;
        line-height: 2.125rem;
        margin: 0;
        color: #0555c8;
    font-family: Montserrat;
        font-weight: 600;
 }
 .rateList .rateItem h3 sub {
    font-family: Roboto;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 100;
    line-height: 22px;
    line-height: 1.375rem;
    top: .15em;
}
  .rateList .rateItem p{
        color: #333;
    font-family: Roboto;
    font-size: 14px;
    font-size: .875rem;
    line-height: 20px;
    line-height: 1.25rem;
    margin: 0;
    text-align: center;
  }
  .rateaccor .accordion-item{
    margin-top: 16px;
  }
  .rateaccor .accordion-item{
    border-radius: 0px;
    border: none;
}
.rateaccor .accordion-item .accordion-header .accordion-button {
    background-color: rgb(242, 242, 242) !important;
    font-weight: bold;
    justify-content: space-between;
    border-radius: 0px;
}
.rateaccor .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border-radius: 0px;
}
.rateaccor .accordion-item .accordion-header .accordion-button svg {
    display: inline-flex;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.3;
    width: 14px;
    height: 8px;
    transition: transform 0.15s ease-out;
    transform: rotate(0deg);
}
.rateaccor .accordion-item .accordion-header .accordion-button.collapsed svg {
    display: inline-flex;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.3;
    width: 14px;
    height: 8px;
    transition: transform 0.15s ease-out;
    transform: rotate(180deg);
}
.rateaccor .accordion-button::after{
    display: none;
}
 .rateaccor .accordion-item .accordion-header .accordion-button{
        color: #414141;
    font-family: Roboto;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
  }
  .rateaccor .accordion_inner_row{
     display: flex;
    gap: 20px;
    padding-top: 3px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(218, 227, 231);
  }
  .rateaccor .accordion_inner_row:last-child{
    border-bottom: 0px;
  }
  .rateaccor .accordion_inner_col{
    padding: 10px 0px;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    color: #42484d;
    font-size: 16px;
    line-height: 1.625rem;
    font-weight: 400;
  }
  .rateaccor .accordion_inner_col:nth-of-type(2) {
    text-align: right;
}
@media (min-width: 760px) {
      .rateaccor .accordion_inner_col:nth-of-type(2) {
        width: 66%;
    }
}
.rateaccor .accordion_link_container{
    display: flex;
    gap: 20px;
    padding-top: 3px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
}
.rateaccor .accordion_link{
    padding: 10px 0px;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
}
.rateaccor .accordion_link a{
    border-bottom: 1px solid rgba(0, 106, 255, .5);
    color: #006aff;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.rateaccor .accordion_link a:hover{
        border-bottom: 1px solid #006aff;
    text-shadow: 0 0 1px #006aff;
}
.rateaccor .accordion-body{
    padding: 3px 20px;
}
/* rateSec_end */

/* eligibilitySec_start */
.eligibilitySec{
        padding: 16px 0px;
}
.eligibilitySec_inner{
    background-color: rgb(248, 248, 248);
    padding: calc(124px) 0px;
}
@media (min-width: 992px) {
    .eligibilitySec {
        padding: 48px 0px;
    }
}
.eligibilitySec_inner_blue{
    background-color: rgb(232, 244, 255);
    width: 100vw;
    position: relative;
    left: calc(50% - 50vw);
}
.eligibilityBox_wrapper{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .eligibilityBox_wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
        .eligibilitySec_inner {
        padding: calc(74px) 0px;
    }
}
.eligibilityBox{
    position: relative;
    border: 20px solid rgb(208, 233, 255);
    background-color: rgb(255, 255, 255);
    padding: 32px 20px;
    width: 100%;
    max-width: 580px;
}
.eligibilityBox:first-child {
    top: -100px;
    margin-bottom: calc(-76px);
}
@media (min-width: 768px) {
    .eligibilityBox {
        padding: 32px;
        max-width: 480px;
    }
    .eligibilityBox:first-child {
        top: calc(-50px);
        margin-bottom: calc(-26px);
    }
     .eligibilityBox:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 0px;
    }
        .eligibilityBox:last-child {
        bottom: calc(-50px);
        margin-top: auto;
    }
}
.eligibilityBox_content_wrap{
    display: flex;
    flex-direction: column;
}
.eligibilityBox_content_wrap .card_title_24{
    margin-bottom: 16px;
    color: #000;
}
.eligibilityBox_content_wrap ol{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.eligibilityBox_content_wrap ol li{
display: flex;
    align-items: flex-start;
    counter-increment: list-num 1;
    font-weight: 300;
    margin: 0px;
    padding: 16px 0px 16px 16px;
    line-height: 22px;
    color: rgb(66, 72, 77);
    text-align: left;
}
.eligibilityBox_content_wrap ol li:first-child {
    padding-top: 0px;
}
.eligibilityBox_content_wrap ol li::before {
    content: counter(list-num);
    display: block;
    position: relative;
    left: -16px;
    height: 30px;
    width: 30px;
    min-width: 30px;
    background: rgb(0, 70, 170);
    border-radius: 100%;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}
.eligibilityBox_content_wrap ol li strong{
    font-weight: 400;
}
.eligibilityBox_content_wrap > :not(:last-child) {
    margin-bottom: 16px;
}
.eligibilityBox_content_wrap{
    margin-bottom: 8px;
    color: #42484d;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.625rem;
    font-weight: 700 ;
}
.eligibilityBox_content_wrap p:not(.card_title_24){
    margin-bottom: 8px;
}
.eligibilityBox_content_wrap ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.eligibilityBox_content_wrap ul li{
    padding-left: 22px;
    color: #42484d;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: relative;
        line-height: 1.625rem;
}
.eligibilityBox_content_wrap ul li::after{
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0px;
    background: rgb(99, 184, 255);
    
}
/* eligibilitySec_end *



/* offerSec_start */
.offerSec{

}
/* offerSec_end */

/* optionSec_start */
.optionSec{
    padding: 40px 0 30px;
    background-color: #f8f8f8;
}
@media (min-width: 992px) {
    .optionSec {
        background-color: #d0e9ff;
        padding-top: 72px;
        padding-bottom: 72px;
    }
}
.optionSec .gem_heading{
    margin: 0 0 24px;
    text-align: center;
    color: #000;
}
@media (min-width: 992px) {
    .optionSec .gem_heading {
        font-size: 2rem;
        margin: 0 0 36px;
    }
}
#optionTab{
    border: none;
}
#optionTab .nav-item{
    flex: 2 1 auto;
    font-weight: 400;
    justify-content: center;
    padding: .5rem 0;
    text-align: center;
    border-bottom: none;
    color: #0046aa;
    font-weight: 500;
}
#optionTab .nav-item:first-child {
    padding-top: .5rem;
}
#optionTab .nav-item .nav-link{
   color: #0046aa;
    padding: 0;
    text-align: center;
    width: 100%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
#optionTab .nav-item .nav-link:hover{
    border: none;
}
#optionTab .nav-item .nav-link.active{
    background: transparent;
    border: none;
    border-radius: 0px;
}
#optionTab .nav-item:has(.nav-link.active){
    background-color: #e8f4ff;
    border-bottom: none;
    border-radius: 0px;
}
#optionTabContent{
    padding: 32px 32px;
        background-color: #e8f4ff;
}
#optionTabContent .tabinner_row{
    display: flex;
}
#optionTabContent .tabCol{
    flex: 1 1 33%;
}
#optionTabContent .tabCol.tabcol_76{
     flex: 1 1 76%;
}
#optionTabContent .tabCol.font_14{
        font-size: 14px;
    line-height: 1.5;
    max-width: 320px;
    margin: 0px auto 24px;
    text-align: left;
        color: rgb(66, 72, 77);
        font-weight: 300;
            font-family: Roboto, "Open Sans", sans-serif;
}
#optionTabContent .tabCol.font_14 strong{
    font-weight: 700;
}
.tabCol a{
    border-bottom: 1px solid rgba(0, 106, 255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    color: rgb(0, 106, 255);
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}
.tabCol a:hover{
    border-bottom: 1px solid rgb(0, 106, 255);
    text-shadow: rgb(0, 106, 255) 0px 0px 1px;
}
#optionTabContent .tabCol.font_16{
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: rgb(66, 72, 77);
}
@media (min-width: 768px) {
#optionTabContent .tabCol.font_14 {
        margin-bottom: 0px;
    }
}
@media (min-width: 992px) {
       #optionTabContent .tabCol.ml_72{
        margin-left: 36px;
        margin-right: 0px;
    }
}
@media (min-width: 1200px) {
    #optionTabContent .tabCol.ml_72 {
        margin-left: 72px;
    }
}
.tab_left_wrap{
    text-align: center;
}
.tab_left_wrap svg{
    margin: 20px auto;
}
.tab_left_title{
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.33;
    margin: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.tab_left_desc{
    margin: 8px auto 32px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    max-width: 240px;
    color: #42484d;
    font-family: Roboto, sans-serif;
}
.tab_left_img_wrapper{
    display: flex;
    align-items: center;
   
}
.tab_left_img_wrapper a{
    flex: 1 1 auto;
    margin-right: 8px;
}
.tab_left_btn_wrapper{
     display: flex;
    align-items: center; 
}
.tab_left_btn_wrapper a{
    flex: 1 1 50%;
    margin:0px 8px;
    height: 47px;
}

.no_fees{
        background-color: rgb(255, 255, 255);
    padding: 12px 24px;
    margin: 24px 0px 0px;
}
.no_fees p{
    margin-bottom: 0px;
}
@media (min-width: 992px) {
   .no_fees {
        margin: 12px -12px 0px -24px;
    }
}
.num_list{
    text-align: left;
    padding: 0px 0px 0px 48px;
}
.num_list li{
    position: relative;
    margin: 0px auto 16px;
    list-style-type: none;
    min-height: 42px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    counter-increment: num-list 1;
}
.num_list li p{
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgb(66, 72, 77);
}
.num_list li p strong{
    font-weight: 700;
}
.num_list li p:last-child{
    margin-bottom: 0px;
}
.num_list li::before{
    content: counter(num-list);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: -48px;
    display: flex;
    background-color: rgb(0, 70, 170);
    color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.tab_blue_text{
    color: rgb(0, 70, 170);
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    margin: 0px;
}

@media (min-width: 768px) {
   .num_list {
        margin: 10px 0px 32px;
    }
}
.for_desktop{
    display: none;
}
.for_tablet{
    display: block;
}
@media screen and (min-width:992px) {
   .for_desktop{
    display: block;
} 
.for_tablet{
    display: none;
}
}
.optionaccor .accordion-item .accordion-header .accordion-button {
    background-color: rgb(208, 233, 255) !important;
    color: rgb(0, 70, 170);
    font-weight: bold;
    justify-content: space-between;
    border-radius: 0px;
        font-size: 1rem;
        font-family: Roboto, sans-serif;
}
.optionaccor .accordion-item {
    border-radius: 0px;
    border: none;
    margin-bottom: 4px;
}
.optionaccor .accordion-item .accordion-header .accordion-button.collapsed svg {
    display: inline-flex;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.3;
    width: 14px;
    height: 8px;
    transition: transform 0.15s ease-out;
    transform: rotate(180deg);
}
.optionaccor .accordion-item .accordion-header .accordion-button svg {
    display: inline-flex;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.3;
    width: 14px;
    height: 8px;
    transition: transform 0.15s ease-out;
    transform: rotate(0deg);
}
.optionaccor .accordion-button::after{
    display: none;
}

@media screen and (max-width:991px) {
    #optionTabContent .tabinner_row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #optionTabContent .tabCol{
        flex: 0 0 auto;
            max-width: 320px;
    margin: 0px auto 0px;
    width: 100%;
    }
    .tab_left_btn_wrapper{
        margin-bottom: 24px;
    }
    .tab_left_img_wrapper{
        margin-bottom: 24px;
    }
    #optionTabContent .tabCol.tabcol_76 {
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%x;
}
}
@media screen and (max-width:767px){
  #optionTabContent .tabCol{
    margin: 0px auto 24px;
  }
}
/* optionSec_end */

/* stillSec_start */
.stillSec{
    padding: 30px 0;
}
@media (min-width: 992px) {
    .stillSec {
        padding-bottom: 72px;
    }
}
.stillSec .section_heading_32{
    margin: 32px 0;
    color: #000;
    text-align: center;
}
.stillBox_wrapper{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.stillBox{
        border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    margin-top: 20px;
    padding: 16px;
    text-align: center;
    width: 300px;
}
.stillBox_top{
    align-items: center;
    display: flex;
    gap: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.stillBox_top img{
    border-radius: 4px;
    height: 120px;
    width: 80px;
}
.text_right{
    text-align: left;
}
.still_title{
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
.still_top_para{
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0 0;
}
.still_badge{
    background-color: #c31b62;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    min-height: 20px;
    padding: 4px 8px;
}
.stillBox_body{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0;
}
.stillBody_maintext{
    color: #c31b62;
    font-size: 16px;
    line-height: 1.4;
    margin: 8px 0;
    min-height: 50px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
.card-details {
    color: #444;
    font-size: 14px;
    list-style: none;
    margin: 0;
    min-height: 180px;
    padding: 0;
    text-align: left;
}
.card-details li {
    line-height: 1.5;
    margin-bottom: 8px;
}
.card-details li:before {
    align-self: baseline;
    color: #63b8ff;
    content: "•";
    font-size: 20px;
    font-weight: 700;
    margin-right: 8px;
}
.card_footer a{
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 106, 255, .5);
    color: #006aff;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.card_footer a:hover{
    border-bottom: 1px solid #006aff;
    text-shadow: 0 0 1px #006aff;
}
.card_footer{
    width: 100%;
    margin-top: auto;
}
.card_footer a.common_btn_green{
    height: auto;
    font-size: 16px;
    width: 100%;
    margin: 16px 0 20px;
}
@media (max-width: 768px) {
    .stillBox {
        width: 100%;
    }
}
.still_btm_text{
        margin: 0px;
    padding: 0px;
    display: block;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgb(66, 72, 77);
}

/* stillSec_end */

/* availableSec_start */
.availableSec{
        padding: 40px 0px;
}
@media (min-width: 768px) {
    .availableSec {
        padding: 72px 0px;
    }
}
.availableSec .gem_heading{
    text-align: center;
    margin-bottom: 32px;
}
.paymentCard_wrapper{
        width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
}
@media (min-width: 992px) {
    .paymentCard_wrapper {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}
.paymentCard{
    margin: 24px calc(12px) 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 240px;
    height: 48px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
        transition: 0.15s ease-in-out;
}
.paymentCard:hover{
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
}
.paymentCard img {
    height: 20px;
}
.paymentCard svg {
    margin-left: 10px;
}
.paymentCard > p{
        font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: rgb(66, 72, 77);
        font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
}
/* availableSec_end */

/* discoverSec_start */
.blue_tag{
background: #63b8ff;
width: fit-content;
border-radius: 5px;
font-family: Roboto;
    font-size: 16px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    line-height: 1.75rem;
    padding: 5px 10px;
        color: #002d70;
        margin-bottom: 0px;
}
.fundSec_link{
    align-items: center;
    border: none;
    color: #0061ee;
    gap: 8px;
    justify-items: center;
    padding: 12px 0 12px 8px;
    text-decoration: underline;
    display: flex;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    height: 56px;
    line-height: 28px;
    line-height: 1.75rem;
    min-width: 150px;
    text-decoration: underline !important;
    margin-top: 16px;
}
.fundSec_link svg{
    width: 24px;
    height: 24px;
   
}
.fundSec_link svg g{
 fill: #0061ee;
}
/* discoverSec_end */

/* digitalSec_start */
.digitalSec{
    padding: 40px 0px;
}
@media (min-width: 992px) {
    .digitalSec {
        padding: 72px 0px;
    }
}
.digitalSec .gem_heading{
    text-align: center;
    margin: 0px 0px 32px;
}
.digitalSec .commn_para_16{
    max-width: 600px;
    margin: 0px auto 32px;
    text-align: center;
}
.digital_btn_wrapper{
   
    display: flex;
    position: static;
    overflow: visible;
    margin: 0px;
    padding: 0px;
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-flow: row;
     margin-top: -24px;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.digital_btn_wrapper a{
    margin: 24px calc(12px) 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 180px;
    height: 48px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    border-bottom: 0px;
}
.digital_btn_wrapper a:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
}
/* digitalSec_end */

/* helpSec */
.helpSec.gom_page{
        padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    padding-top: 300px;
    background-image: #fff;
}
.helpSec.gom_page::before{
   content: "";
    width: 30%;
    height: 100%;
    top: 0px;
    left: -60px;
    position: absolute;
    z-index: 2;
    background: rgb(251, 251, 251);
    transform: skew(-25deg);
    display: none;
}

@media (min-width: 992px) {
    .helpSec.gom_page {
        background-color: #FFF;
        background-image: none;
        padding-top: 0px;
    }
    
    .helpSec.gom_page::before{
        display: block;
    }
}


.helpSec_content_wrapper{
    padding-top: 0px;
    padding-bottom: 32px;
    position: relative;
    flex-direction: column;
    margin: -16px auto 0px;
}
@media (min-width: 992px) {
    .helpSec_content_wrapper {
        padding-top: 32px;
        margin: 0px auto;
    }
}
.helpSec_content_wrapper{
    text-align: center;
}
.helpSec_title{
        font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0px 0px 8px;
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
}
@media (min-width: 992px) {
    .helpSec_title {
        font-size: 36px;
        line-height: 1.11;
    }
}
.helpSec .commn_para_16{
    color: #000;
    text-align: center;
    font-weight: 300;
}
.helpSec .common_btn_blue_bg{
    text-align: center;
    margin: 16px auto;
}
/* helpSec */

/* infoSec _start */
.infoSec {
    padding: 24px 0;
}
.infoDiv_wrapper {
    background: #fff;
    padding-bottom: 32px;
}
@media (min-width: 992px) {
    .infoDiv_wrapper {
        padding-bottom: 48px;
    }
}
.infoDiv_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
}
@media (min-width: 992px) {
    .infoDiv_header {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
.infoDiv_header svg {
    height: 34px;
    width: 34px;
    stroke: rgb(0, 0, 0);
    flex-shrink: 1;
    fill: transparent;
}
@media (min-width: 992px) {
    .infoDiv_header svg {
        height: 40px;
        width: 40px;
    }
}
.infoDiv_header p {
    font-size: 20px;
    line-height: 32px;
    margin: 0px 0px 0px 12px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
@media (min-width: 992px) {
    .infoDiv_header p {
        font-size: 24px;
        margin: 0px 0px 0px 24px;
    }
}

.info_row_wrapper p {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgb(66, 72, 77);
    margin: 14px 0;
}
.info_row_wrapper p a {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    border-bottom: 1px solid rgba(0, 106, 255, 0.5);
    color: rgb(0, 106, 255);
}
.info_row_wrapper p a:hover {
    border-bottom: 1px solid rgb(0, 106, 255);
    text-shadow: rgb(0, 106, 255) 0px 0px 1px;
}
.info_row_wrapper ul{
        font-family: Roboto, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgb(66, 72, 77);
    margin: 14px 0;
}
.info_row_wrapper ul li{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 14px;
}
.info_row_wrapper ul li::before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: rgb(66, 72, 77);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
/* infoSec _end */

